@ui-sm-padding-hor: 1.79%;
@ui-sm-padding-ver: 8.46%;;

@ui-lg-padding-hor: 3.59%;
@ui-lg-padding-ver: 6.38%;;

[data-dirty] {
	opacity:0;
	transition:opacity 1s ease;
}

.brahma-screens {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow:hidden;
}

.brahma-screens > div:first-child {
	position:absolute;
	width:100%;
	height:100%;

	perspective: 1000;
	backface-visibility: hidden;
	transition:transform 1s cubic-bezier(.43,.2,.46,.8);
}

.brahma-widgets-screens > div.noTransit {
	transition: none !important;
}

.brahma-screens > div:first-child > * {
	position:absolute;
	width:100%;
	height:100%;
	background-size:cover;
}

/* User elements */
.brahma-screens > div:first-child > * > center {
	position:absolute;
	top:50%;left:50%;
	-webkit-transform:translateY(-50%) translateX(-50%);
	-ms-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%);
}

.brahma-screens > .brahma-screens-map {
	position:absolute;
	right:@ui-sm-padding-hor;
	bottom:@ui-sm-padding-ver;
	transition:opacity 0.5s ease;

	@media screen and (min-width: 1024px) {
		right:@ui-lg-padding-hor;
		bottom:@ui-lg-padding-ver;
	}
}

.brahma-screens > .brahma-screens-map.screens-map-mobile {
	top:50%;
	left:50%;
	right:auto;
	bottom:auto;
	opacity:0;
	
	transform:scale(2) translateY(-25%) translateX(-25%);
}

.brahma-screens > .brahma-screens-map.screens-map-mobile.screens-visible {
	opacity:0.75;
}

.brahma-screens > .brahma-screens-map.center {

}

.brahma-screens > .brahma-screens-map > div.screen-box-layer {
	clear:both;

}

.brahma-screens > .brahma-screens-map > div.screen-box-layer > div {
	float:left;
	width:12px;
	height:12px;
	background-color:#fff;
	opacity:.5;
	margin:0 2px 2px 0;

	transition: background-color, 0.5s, ease;
}

.brahma-screens > .brahma-screens-map > div.screen-box-layer > div.screen-box-empty {
	background-color:transparent;
}

.brahma-screens > .brahma-screens-map > div.screen-box-layer > div.screen-box-item {
	cursor:pointer;
}

.brahma-screens > .brahma-screens-map > div.screen-box-layer > div.screens-current {
	opacity:1;
}


.brahma-screens-navigation {
	width:44px;
	height:44px;
	margin:auto;
	position:absolute;
	cursor:pointer;

	transition:transform 0.35s ease;
	
	>svg {
		>use {
			fill:#fff;
			transform:scale(0.6);
			@media screen and (min-width:1024px) {
				transform:scale(0.9);
			}
		}
	}

	&.black {
		>svg {
			>use {
				fill:#000;
			}
		}
	}
}
.transform-rotate(@deg: 0deg, @tY: 0, @tX:0) {
	transform:rotateZ(@deg) translateX(@tX) translateY(@tY);
}; 


.brahma-screens-navigation-down {
	
	width:29px;
	bottom:@ui-sm-padding-ver;
	left:0;right:0;
	
	.transform-rotate(90deg);
}

.brahma-screens-navigation-up {
	width:29px;
	top:@ui-sm-padding-ver;
	left:0;right:0;
	
	.transform-rotate(-90deg);
}

.brahma-screens-navigation-right {
	height:29px;
	top:0;bottom:0;
	right:@ui-sm-padding-hor;
	
	.transform-rotate(0deg);
}

.brahma-screens-navigation-left {
	height:29px;
	top:0;bottom:0;
	left:@ui-sm-padding-hor;
	
	.transform-rotate(180deg);
}

@media screen and (min-width:1024px) {
	.brahma-screens-navigation-down {
		width:44px;
		bottom:@ui-lg-padding-ver;
	}

	.brahma-screens-navigation-up {
		width:44px;
		top:@ui-lg-padding-ver;
	}

	.brahma-screens-navigation-left {
		height:44px;
		left:@ui-lg-padding-hor;
	}

	.brahma-screens-navigation-right {
		height:44px;
		right:@ui-lg-padding-hor;
	}
}

.brahma-screens-navigation-down.hidden {
	.transform-rotate(90deg, 0, 200px);
}

.brahma-screens-navigation-up.hidden {
	.transform-rotate(-90deg, 0, 200px);
}

.brahma-screens-navigation-left.hidden {
	.transform-rotate(180deg, 0, 200px);
}

.brahma-screens-navigation-right.hidden {
	.transform-rotate(0deg, 0, 200px);
}

@media screen and (min-width:920px) {
	.brahma-screens-navigation-left {
		font-size:44px;
	}
	.brahma-screens-navigation-right {
		font-size:44px;
	}
	.brahma-screens-navigation-up {
		font-size:22px;
	}
	.brahma-screens-navigation-down {
		font-size:22px;
	}
}

/* Effects */
@-webkit-keyframes screens-effect-fade-in {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes screens-effect-fade-in {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@-webkit-keyframes screens-effect-zoom-in {
	from {
		-webkit-transform:scale(0.35);
	}
	to {
		-webkit-transform:scale(1);
	}
}

@keyframes screens-effect-zoom-in {
	from {
		transform:scale(0.35);
	}
	to {
		transform:scale(1);
	}
}

@-webkit-keyframes screens-effect-lukas-in {
	from {
		transform:translateY(-30%) scale(0.6);
	}
	to {
		transform:translateY(0%) scale(1);
	}
}

@keyframes screens-effect-lukas-in {
	from {
		transform:translateY(-30%) scale(0.6);
	}
	to {
		transform:translateY(0%) scale(1);
	}
}

.brahma-screens > div:first-child > *.screens-current .screen-effect-fade {
	opacity:1;
	transition:all 0.5s ease;
    animation: screens-effect-fade-in 2s;
}

.brahma-screens > div:first-child > *.screens-current .screen-effect-zoom {
	
	transition:all 0.5s ease;
	animation: screens-effect-zoom-in 1s;
}

.brahma-screens > div:first-child > *.screens-current .screen-effect-lukas {

	transition:all 0.5s ease;
    animation: screens-effect-lukas-in 1s;
}

/* Fonts */
.brahma-screens > div:first-child > * div.brahma-screens-label {
	color: white;
	font-family: 'Lato', "Arial";
	font-size: 38px;
	font-weight: 600;
	display: block;
	width: auto;
	text-align: center;
	
	margin: 25px;
	line-height: 52px;
	text-align:left;
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.74);
}

@media screen and (min-width:1024px) {
	.brahma-screens > div:first-child > * div.brahma-screens-label {
		font-size: 42px;
		margin: 100px;
	}
}